<div class="col-2">
  <div class="card p-2">
    <h4>{{portfolio_name}}</h4>
    <a class="fs-6" href="/portfolio/{{id}}">
      <span class="badge rounded-pill bg-primary">View</span>      
    </a>
  </div>
</div>