<div class="mb-5 mt-3">
    <h1>
        Welcome to Investor Center!
    </h1>
</div>



<div class="container">
    <h2>Your Portfolios</h2>
    {{#each portfolios as |portfolio|}}
    {{> portfolio-details}}
    {{/each}}
</div>


<hr>

<button id="create-portfolio" type="button" class="btn btn-primary">Create Portfolio</button>

<div id="chart" class="w-75 pt-5 container">
    <canvas id="myChart" class="justify-content-center"></canvas>
</div>

<script src="./js/home.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>