<h1>
    Welcome to Investor Center!
</h1>



<div class="container">
    <h2>Your Portfolios</h2>
    {{#each portfolios as |portfolio|}}
    {{> portfolio-details}}
    {{/each}}
</div>


<hr>

<button id="create-portfolio" type="button" class="btn btn-primary">Create Portfolio</button>
<hr>
<button id="delete-portfolio" type="button" class="btn btn-primary">Delete Portfolio</button>

<div id="chart" class="w-75 pt-5 justify-center">
    <canvas id="myChart"></canvas>
</div>

<script src="./js/home.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>