<div class="d-flex left-pane">
    <div class="login-form">
        <h4>Login</h4>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" aria-describedby="usernameHelp"
                placeholder="Enter Username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password"
                placeholder="Enter password">
        </div>
        <button id="login-btn" type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>

<script src="./js/login.js"></script>