<h1 class="pt-3">Portfolio Details</h1>

<section class="mt-1">
    Portfolio Name: {{portfolio.portfolio_name}}
</section>
<hr>
<button id="add-investment" type="submit" class="btn btn-primary name-btn my-2">Add Investment<i class="icon-arrow-right"></i></button>
<table class="table" id="investment-list">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Purchase Price</th>
            <th>Total Value</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="investment-list-rows">
    </tbody>
</table>
<div id="investment-form" style="display: none;">
    {{> add-investment}}
</div>

<script src="/js/portfolio.js"></script>