<div class="d-flex left-pane">
    <div class="create-profile-form">
        <h4>Create Profile</h4>
        <div class="form-group">
            <label for="ticker-symbol">Ticker Symbol</label>
            <input type="text" class="form-control" id="ticker-symbol" 
                placeholder="Enter Ticker Symbol">
        </div>
        {{!-- Ticker name auto-populates from selected symbol --}}
        <div class="form-group">
            <label for="ticker-name">Ticker Symbol</label>
            <input type="text" class="form-control" id="ticker-symbol" 
                placeholder="Enter Ticker Symbol">
        </div>


        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password"
                placeholder="Enter password">
        </div>
        <button id="submit-btn" type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>